

/************************************************
*	General Settings  					    	*
************************************************/
body { 
    background: #ffffff;
}

a {color: #0091d4;}
a:visited {color: #0091d4;}
a:hover {color: #333333;}
a:focus {color: #0091d4;}
a:active {color: #0091d4;}
/************************************************
*	ON CENTER									*
************************************************/
#webpage {
  width: 100%;
}
/************************************************
*	Header  									*
************************************************/
#header {
background-color: #00111D;
}
#header .wrapper{
background: none;
border: none;
}

#headerleft img{
	margin: 15px 0 5px 7px;
	}
	
#headerleft h1 {
color:#FFF;
}	

#headerleft a {color: #FFF; text-decoration:none;}
#headerleft a:visited {color: #FFF;}
#headerleft a:hover {color: #0091d4; font-style:italic;}
#headerleft a:focus {color: #FFF;}
#headerleft a:active {color: #FFF;}

#headerleft span{
color: #CCC;
}

/************************************************
*	Navbar      								*
************************************************/
#navbar {
	background: #0091d4;
	}
	
#navbar .wrapper{
 background: #0091d4;
 height: 30px;
 }
	
#navbar li a, #navbar li a:link, #navbar li a:visited {
    background: #0091d4;
	text-transform: uppercase;
}

#navbar li a:hover, #navbar li a:active {
	background: #000000;
	color: #0091d4; 
	}
	
#navbar li li a:hover, #navbar li li a:active {
    background: #0091d4;
	margin: 0px;
	padding: 5px 10px 0px 10px;
	height: auto;
	}
	
/************************************************
*	SubNavbar      								*
************************************************/	
 #subnav {
    background: #e1dfdf;
    border-bottom: 1px solid #bbbbbb;
    border-width: 1px 0 0 0;;
	}
#subnav .wrapper{
	background: none;	
}

#subnav li a, #subnav li a:link, #subnav li a:visited {
	color: #000000;
	background: #e1dfdf;
	}
	
#subnav li a:hover, #subnav li a:active {
	background: #000000;
	color: #FFF;
	}	
/************************************************
*	mainbody		    	        	        * 
************************************************/

/************************************************
*	Content 					     		    * 
************************************************/
#contentarea { 
border-right:1px solid #DDDDDD;
}

.sticky {
  background: #EEE; 
 }
 
.edit {
background-color:#0091d4;	
 }

.contenttitle {
	color: #000000;
}
.contenttitle a:link, .contenttitle a:visited {text-decoration:none; color: #000000;}
.contenttitle a:hover {font-style: italic; color: #0091d4;}
.contenttitle a:focus {font-style: italic; color: #0091d4;}
 
/************************************************
*	Images  					     		    * 
************************************************/
	
/************************************************
*	drop shadow for images 					    * 
************************************************/	

/************************************************
*	Comments 		    	        	        * 
************************************************/
#author-bio {
    background: #c5e5fe;
}
.commentlist > li.bypostauthor {
    background-color: #c5e5fe;
}.commentlist > li.bypostauthor:before {
	content: url(../images/comment-arrow-bypostauthor-blue.png);
}
/************************************************
*	Sidebar 		    	        	        * 
************************************************/
#sidebar h3, #sidebar h4 {
margin-bottom: 7px; 
padding-bottom: 3px; 
border: none;
text-transform: none;
color:#000000;
font-size: 22px;
line-height: 24px;
	}
	
	
#sidebar ul {
margin:0 0 30px;
padding:0;
	}

	
#sidebar ul li li {
	padding: 0;
	margin: 0;
	}
	
#sidebar ul li ul li {
	padding: 0;
	margin: 0;
	}
	
#sidebar ul li a {
color:#5F5F5F;
display:block;
border-bottom:1px solid #CCCCCC;
height:100%;
margin:0 0;
padding:3px 0;
text-decoration:none;
}
#sidebar ul li a:visited {color: #333333;}
#sidebar ul li a:hover {color: #0091d4;}
#sidebar ul li a:focus {color: #333333;}
#sidebar ul li a:active {color: #333333;}

#sidebar ul.children {
margin:0;
}

#sidebar ul.children li{
text-indent:15px;
}
#sidebar ul.children li ul.children li{
text-indent:30px;
}

/************************************************
*	Left Sidebar                    	        * 
************************************************/
#l_sidebar {
    padding: 0 12px 0 0;
    width: 155px;
}


/************************************************
*	Right Sidebar                       	    * 
************************************************/

/************************************************
*	Footer      								*
************************************************/
#footer {
  background: #e1dfdf;
  border: 1px solid #bbbbbb;
  border-width: 1px 0 0 0;
}

#footer .wrapper{
background: none;
border: none;
}

.flinks h3 {
margin: 10px 0 6px 0;
font-size: 18px;
line-height: 20px;
}

.flinks ul li{
border-bottom: none;
}

/************************************************
*	Copyright     								*
************************************************/
#copyright{
	background: #000;
	color: #bbbbbb;
	}
	
#copyright .wrapper{
	background: none;
	border: none;
}	
/************************************************
*	Custom Child Theme Items		
************************************************/
#subheader	{
	margin:0px;
	padding: 0px;
	background:url(images/subheaderbg.jpg) repeat-x;
	height:100px;
				}

#subheader h2{
color:#fff;
padding: 20px 0 0 0;
font:25px/26px "PTSansBold","Trebuchet MS",Arial,Helvetica,sans-serif;
}

