

/************************************************
*	General Settings  			
************************************************/
body { 
    background: #ffffff;
}

a {color: #aa00d4;}
a:visited {color: #aa00d4;}
a:hover {color: #333333;}
a:focus {color: #aa00d4;}
a:active {color: #aa00d4;}
/************************************************
*	ON CENTER				
************************************************/
#webpage {
  width: 100%;
}
/************************************************
*	Header  					
************************************************/
#header {
background-color: #360043;
}
#header .wrapper{
background: none;
border: none;
}

#headerleft img{
	margin: 15px 0 5px 7px;
	}
	
#headerleft h1 {
color:#FFF;
}	

#headerleft a {color: #FFF; text-decoration:none;}
#headerleft a:visited {color: #FFF;}
#headerleft a:hover {color: #aa00d4; font-style:italic;}
#headerleft a:focus {color: #FFF;}
#headerleft a:active {color: #FFF;}

#headerleft span{
color: #CCC;
}

/************************************************
*	Navbar      		
************************************************/
#navbar {
	background: #990288;
	}
	
#navbar .wrapper{
 background: #990288;
 height: 30px;
 }
	
#navbar li a, #navbar li a:link, #navbar li a:visited {
    background: #990288;
	text-transform: uppercase;
    font-weight: 600;
}

#navbar li a:hover, #navbar li a:active {
	background: #000000;
	color: #ffffff; 
	}
	
#navbar li li a:hover, #navbar li li a:active {
    background: #990288;
	margin: 0px;
	padding: 5px 10px 0px 10px;
	height: auto;
	}
	
/************************************************
*	SubNavbar      	
************************************************/	
 #subnav {
    background: #e1dfdf;
    border-bottom: 1px solid #bbbbbb;
    border-width: 1px 0 0 0;;
	}
#subnav .wrapper{
	background: none;	
}

#subnav li a, #subnav li a:link, #subnav li a:visited {
	color: #000000;
	background: #e1dfdf;
	}
	
#subnav li a:hover, #subnav li a:active {
	background: #000000;
	color: #FFF;
	}	
/************************************************
*	mainbody		    	
************************************************/

/************************************************
*	Content 		
************************************************/
#contentarea { 
border-right:1px solid #DDDDDD;
}

.sticky {
  background: #fde5fa; 
 }
 
.edit {
background-color:#aa00d4;	
 }

.contenttitle {
	color: #000000;
}
.contenttitle a:link, .contenttitle a:visited {text-decoration:none; color: #000000;}
.contenttitle a:hover {font-style: italic; color: #aa00d4;}
.contenttitle a:focus {font-style: italic; color: #aa00d4;}
 
/************************************************
* Author Block
************************************************/
#author-bio {
    background: #fde5fa;
}
.commentlist > li.bypostauthor {
    background-color: #fde5fa;
}.commentlist > li.bypostauthor:before {
	content: url(../images/comment-arrow-bypostauthor-purple.png);
}

/************************************************
*	Sidebar 		    	        	        * 
************************************************/
#sidebar h3, #sidebar h4 {
border-color: #990288;
border-style: solid;
border-width: 0 0 3px;
margin-bottom: 7px; 
padding-bottom: 3px; 
text-transform: none;
color:#000000;
font-size: 22px;
line-height: 24px;
	}
	
	
#sidebar ul {
margin:0 0 30px;
padding:0;
	}

	
#sidebar ul li li {
	padding: 0;
	margin: 0;
	}
	
#sidebar ul li ul li {
	padding: 0;
	margin: 0;
	}
	
#sidebar ul li a {
color:#5F5F5F;
display:block;
border-bottom:1px solid #CCCCCC;
height:100%;
margin:0 0;
padding:3px 0;
text-decoration:none;
}
#sidebar ul li a:visited {color: #333333;}
#sidebar ul li a:hover {color: #aa00d4;}
#sidebar ul li a:focus {color: #333333;}
#sidebar ul li a:active {color: #333333;}

#sidebar ul.children {
margin:0;
}

#sidebar ul.children li{
text-indent:15px;
}
#sidebar ul.children li ul.children li{
text-indent:30px;
}

/************************************************
*	Left Sidebar              
************************************************/
#l_sidebar {
    padding: 0 12px 0 0;
    width: 155px;
}

/************************************************
*	Footer      		
************************************************/
#footer {
  background: #fde5fa;
  border: 1px solid #990288;
  border-width: 1px 0 0 0;
}

#footer .wrapper{
background: none;
border: none;
}

.flinks h3 {
margin: 10px 0 6px 0;
font-size: 18px;
line-height: 20px;
}

.flinks ul li{
border-bottom: none;
}

/************************************************
*	Copyright 
************************************************/
#copyright{
	background: #360043;
	color: #bbbbbb;
	}
	
#copyright .wrapper{
	background: none;
	border: none;
}	

