/*
Theme Name: Simply Works Core
*/
/*
Used to style the TinyMCE editor.
*/
html .mceContentBody {
	max-width:660px;
}
/************************************************
*	 Global Settings
************************************************/
* { 
  font-family:  "Adobe Garamond",Georgia,"Times New Roman", serif;
}

/* reset  */
div, p, h1, h2, h3, h4, h5, h6, img, form{padding:0px; margin:0px;}
p {padding: 8px 0px; line-height: 1.4em;}

h1, h2, h3, h4, h5, h6 {
line-height: 1.5em;
font-weight: normal;
padding: 10px 0 0 0;
}

a {color: #880000;}
a:visited {color: #880000;}
a:hover {color: #333333;}
a:focus {color: #880000;}
a:active {color: #880000;}

table { 
border:1px solid #E7E7E7;
text-align:left;
width:100%;
}

th {
padding:6px;	
}

tr td{
border-top:1px solid #E7E7E7;
padding:6px;	
}


/************************************************
*	 Image Settings
************************************************/
img {border: none; max-width: 660px; height:auto;}
.centered  {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 0px;
	}
	
.alignnone {
	padding: 0px;
	margin: 0px 0px 10px 0px;
	display: inline;
	}

.alignright {
	padding: 0px;
	display: inline;
	float: right;
	margin: 0 0 10px 15px;
	}

.alignleft {
	padding: 0px;
	display: inline;
	float: left;
	margin: 0 15px 10px 0;
	}
	
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	}

.gallery-caption { 
    margin-top: 4px; 
	font-size: 11px;
	line-height: 12px;
    color: #777; 
    font-style: italic; 
}		
	
.wp-caption {
	border: 1px solid #DDDDDD;
	text-align: center;
	background-color: #EEEEEE;
	padding: 4px 0px 5px 0px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}

.wp-caption img {
	margin: 0px 0px 5px 0px;
	padding: 0px;
	border: 0px;
	}

.wp-caption p.wp-caption-text {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	font-size: 11px;
	font-weight: normal;
	line-height: 12px;
	}